<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Scene Config For {{sceneName}}</ion-title>
    </ion-navbar>
  </ion-header>
<ion-content>
  <h3>Choose the speed and time in Seconds to run. </h3>
  <div *ngIf="selectedScene">
    <div class="SpeedGroup" *ngFor="let movement of selectedScene.movements" >
        <ion-item>
            <ion-label>Disable</ion-label>
            <ion-checkbox [(ngModel)]="movement.isDisabled" checked="movement.isDisabled==null"></ion-checkbox>
          </ion-item>
      <div class="DetailsGroup" [attr.disabled]="movement.isDisabled=='true'? true:null">
        <h3 text-center *ngIf="movement">
            <b>MOTOR: {{movement.motor}}</b>
          </h3>
          <h4 text-center *ngIf="movement">
            <b>SPEED: {{movement.speed}}</b>
          </h4>
      <p>
      <ion-item>
          <ion-label>Speed </ion-label>
          <ion-range *ngIf="movement" min="50" max="255" step="5" snaps="true" color="secondary" [(ngModel)]="movement.speed">
              <ion-label range-left>50</ion-label>
              <ion-label range-right>MAX</ion-label>
          </ion-range>
      </ion-item>
      <ion-item>
        <ion-label>Time(in Seconds):</ion-label>
        <ion-input *ngIf="movement" [(ngModel)]="movement.time" type="text" name="time"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label>Direction:</ion-label>
       </ion-item>
        <ion-list *ngIf="movement" radio-group [(ngModel)]="movement.dir">
            <ion-item>
              <ion-label>Left</ion-label>
              <ion-radio value="6"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Right</ion-label>
              <ion-radio value="5"></ion-radio>
            </ion-item>
          </ion-list>
    </p>
  </div>
   </div>
   <p>
      <button ion-button color="primary" (click)="save($event)">Save</button>
    </p>
</div>
<br>
</ion-content>